*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body{
    min-height: 100vh;
    background: url(imagesbackground.jpg.jpg) center center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
}

.container{
    width: 100%;
}

.card{
    max-width: 520px;
    margin: auto;
    padding: 45px 38px;
    border-radius: 28px;

    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(15px);

    border: 1px solid rgba(255,255,255,0.15);

    box-shadow: 0 25px 60px rgba(0,0,0,0.5);

    text-align: center;
}

.card:hover{
    transform: translateY(-5px);
}

.subtitle{
    color: #cbd5e1;
    font-size: 16px;
    margin-bottom: 28px;
}

h1{
    color: #ffffff;
    font-size: 42px;
    margin-bottom: 18px;
}

label{
    display: block;
    text-align: left;
    color: #f1f5f9;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

input{
    width: 100%;
    padding: 18px;
    border: none;
    outline: none;
    border-radius: 18px;
    font-size: 18px;
    color: #0f172a;
    margin-bottom: 22px;
}

button{
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 18px;
    background: linear-gradient(135deg, #8b5cf6, #06b6d4);
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 15px 35px rgba(6,182,212,0.30);
    transition: 0.3s ease;
}

button:hover{
    transform: translateY(-3px);
    box-shadow: 0 20px 45px rgba(14, 14, 14, 0.45);
}

button:active{
    transform: scale(0.98);
}

.result{
    margin-top: 35px;
    display: grid;
    gap: 15px;
}

.result p{
    background: rgba(255,255,255,0.12);
    color: #ffffff;
    padding: 16px;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid rgba(255,255,255,0.15);
}

.footer{
    margin-top: 25px;
    color: #cbd5e1;
    font-size: 14px;
}

@media(max-width: 480px){
    .card{
        padding: 32px 24px;
    }

    h1{
        font-size: 32px;
    }

    .subtitle{
        font-size: 14px;
    }
}